#firstline{
	font-size: 20px;
}

#secondline{
	font-size:15px;
}

#thirdline{
	font-size:12px
}

#image-round{
	border-radius:50%;
	width:100px;
	height: 100px;
	border: 5px solid grey;
}

md-list{
	line-height: 20px;
}