<md-toolbar md-dailog-title color="primary">
	Login
	<span class="flex-spacer"></span>
	<button md-button md-dialog-close>&times;</button>
</md-toolbar>

<p>{{ user | json }}</p>
<md-card>
<form novalidate (ngSubmit)="onSubmit()">
	
	<p>
		<md-input-container>
			<input mdInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username" required>
		</md-input-container><br/>
		<md-input-container>
			<input mdInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" required>
		</md-input-container><br/>
		<md-checkbox [(ngModel)]="user.remember" name="remember">
			Remember Me
		</md-checkbox><br/>
	</p>
		<md-dialog-actions>
		<span class="flex-spacer"></span>
		<button md-button md-dialog-close>Cancel</button>
		<button type="submit" md-button class="background-primary text-floral-white">Login</button>
		</md-dialog-actions>
	</form>
	</md-card>